@import '../../Utils/Style/variables';

.about{
  color: var(--font-color);
  margin-top: var(--margin-medium);;
  &__title{
    margin: 0 0 35px 20px;
    &_inner{
      font-size: var(--fontsize-medium);
    }
  }
  &__content{
    // width: 100%;
    display: flex;
    border: solid 1px;
    margin: var(--margin-medium);
    // animation-name: about-keyframes;
    // transform-origin: left;
    // animation-duration: 1645ms;
    // animation-delay: 2100ms;
    // animation-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);

    &__pic{
      width: 200px;
      min-width: 200px;
      height: 250px;
      border: groove 3px var(--font-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px;
    
      &--img {
        display: block;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__desc{
      display: flex;
      flex-direction: column;
      margin: 30px;
      &--intro{
        margin-bottom: 30px;
      }
      &--info-list{
        display: flex;
        justify-content: space-around;
      }
      &--resume{
        margin-top: 20px;
        // border: solid 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 300px;
        &_lnk{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: var(--font-color);
          &:hover{
            font-weight: 800;
          }
        }
      }
    }
  }
}
.list{
  display: flex;
  align-items: center;
  &__title{
    color: var(--secondary);
    font-weight: var(--fontweight-bold);
  }
  &__content{
    margin-left: var(--margin-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__link{
      padding: 10px;
    }
  }
}

@keyframes about-keyframes {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}