$color-background: #e58e26; // CARROT ORANGE
$color-primary: #f0932b;
$color-secondary: #eb4d4b;
$color-tertiary: #be2edd;
$color-header: white;
$color-text: #101010;
$auto-margin: 20px;
// $color-bg-3: #ffff;
// $color-icons: #7e7e7e;
// $color-prices: #353535;
// $size: 3vh;
// $anim-dur: 700ms;
// $num-bars: 5;
// $anim-delay: $anim-dur / $num-bars;

// ==== Other Background colors options : =====
// SPICED BUTTERNUT: #ffda79
// GOLDEN SAND: #eccc68
// SOUR LEMON: #ffeaa7
// BRIGHT YARROW: #fdcb6e
// HOT STONE: #aaa69d (grey)
// SILVER: #bdc3c7

@font-face {
  font-family: 'Megrim';
  src: url('../Assets/fonts/Megrim-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../Assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../Assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

// #0a3d62

:root {
  /* COLOR */
  --black: #121212;
  --white: #F6F6F7;
  --primary: #0a3d62; 
  --secondary: #3c6382;
  --tertiary: #60a3bc;

  --dark-gray: #202020;
  --light-gray: #eeeeee;

  --dark-overlay: rgba(0, 0, 0, 0.8);
  --light-overlay: rgba(140, 140, 140, 0.8);

  --color-cursor: #6e6e6e;
  
  /* FONT */
  --font-title: 'Megrim', sans-serif;
  --font-text: 'Roboto', sans-serif;

  --fontsize-big: 6rem;
  --fontsize-medium: 3rem;
  --fontsize-small: 1.5rem;

  --fontweight-light: 500;
  --fontweight-bold: 900;

  /* OTHER */
  --border-radius-small: 15px;
  --border-radius-big: 25px;

  --transition-short: 0.3s;
  --transition-long: 0.5s;

  --margin-small: 10px;
  --margin-medium:20px;
  --margin-large: 50px;
}


.theme-light {
  --color-background: var(--white);
  --background-app: url("../Assets/img/topography-light.svg");
  
  --font-color: var(--black);
  --hover-color: var(--secondary);

  --color-card-background: var(--light-gray);
  --color-country-row: var(--white);
  --color-card-overlay: var(--light-overlay);

  --color-cursor: var(--font-color);

  --skelton-background: #fff;
  --skeleton-font: var(--color-card-background);
  --skeleton-lightning: rgb(255, 255, 255, 0.5);

}
.theme-dark {
  --color-background: var(--black);
  --background-app: url("../Assets/img/topography-dark.svg");

  --font-color: var(--white);
  --hover-color: var(--tertiary);
  
  --color-card-background: var(--black);
  --color-country-row: var(--dark-gray);
  --color-card-overlay: var(--dark-overlay);

  --color-cursor: var(--font-color);

  --skelton-background: var(--dark-gray);
  --skeleton-font: var(--color-card-background);
  --skeleton-lightning: rgba(102, 102, 102, 0.5);

}



a {
  cursor: none !important;
  text-decoration: none;
  color: var(--font-color);
}

.overwrite {
  pointer-events: none;
  opacity: 0
}

canvas {
  display: block;
  vertical-align: bottom;
}
