$color-background: #e58e26; // CARROT ORANGE
$color-primary: #f0932b;
$color-secondary: #eb4d4b;
$color-tertiary: #be2edd;
$color-header: white;
$color-text: #101010;
$auto-margin: 20px;
// $color-bg-3: #ffff;
// $color-icons: #7e7e7e;
// $color-prices: #353535;
// $size: 3vh;
// $anim-dur: 700ms;
// $num-bars: 5;
// $anim-delay: $anim-dur / $num-bars;

// ==== Other Background colors options : =====
// SPICED BUTTERNUT: #ffda79
// GOLDEN SAND: #eccc68
// SOUR LEMON: #ffeaa7
// BRIGHT YARROW: #fdcb6e
// HOT STONE: #aaa69d (grey)
// SILVER: #bdc3c7
