@import '../Utils/Variables/variables';

#App {
  min-height: 150vh;
  font-family: var(--font-text);
  font-size: var(--fontsize-small);
  font-weight: var(--fontweight-light);
  background: var(--color-background);
  transition: var(--transition-long);
  background-image: var(--background-app);
}

// .App {
//   min-height: 100vh;
//   &__content{
//     height: 10vh;
//     min-height: 100%;
//     &-header{
//       min-height: 10vh;
//       height: 10vh;
//     }
//     &-body{
//       min-height: 90vh;
//     }
//   }

// }
