@import '../../Utils/Variables/variables';

.cursor-follower{
  background-color: black;
  width: 36px;
  height: 36px;
  opacity: 0.3;
  margin: -13px 0px 0px -13px;
  margin: -13px 0 0 -13px;
  position: absolute;
  -webkit-transition: transform 1s cubic-bezier(0.02, 1.2, 0.8, 1), opacity 0.25s ease;
  transition: transform 1s cubic-bezier(0.02, 1.2, 0.8, 1), opacity 0.25s ease;
  z-index: 2;
  pointer-events: none;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
}